* {
  margin: 0px;
  padding: 0px;
  border: 0;
  font-family: 'Sulphur Point', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container {
  padding-left: 100px;
  padding-right: 100px;
}
.flex {
  padding-top: 25px;
  display: flex;
}
.tittle-film {
  font-style: normal;
  font-weight: 400;
  font-size: 250%;
  line-height: 50px;
  color: #2F007B;
}
#button {
  margin-left: 30px;
  border: solid 1px #5B007B;
  padding: 15px 10px ;
  border-radius: 5px;
  align-content: center;
}
#search {
  height: 30px;
  width: 90%;
  background-color: #e9e9e9;
  border-radius: 5px 0px 0px 5px;
  padding: 5px;
}
.search-icon {
  background-color: #e9e9e9;
  color:  #2F007B !important;
  border-radius: 0px 5px 5px 0px;
  padding: 5px;
  height: 30px;
}
.purple {
  color: #5B007B
}
#filter-icon {
  margin-left: 10px;
  color: #e9e9e9 !important;
  font-size: 40px !important;
}
#filters {
  background-color: #E9E9E9;
  width: 100px;
  float: right;
  display: none;
  margin-top: 5px;
  border-radius: 5px;
  position: fixed;
  right: 50px;
}
.filter-for {
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: #505050 
}
.filter-item {
  color: #2F007B;
  width: 100px;
}
#films {
  padding-top: 20px;
  width: 100% !important;
  height: auto;
  display: flex;
  flex-wrap: wrap !important;
  justify-content: space-around;
}
textarea:focus, input:focus, select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
} 
@media (max-width: 600px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}